* {
  background-color: darkslategrey;
}
.container {
  width: 100%;
  text-align: center;
  justify-content: center;
}
.header {
  color: khaki;
  text-align: center;
  font-size: 1.7em;
  /* width: 80%; */
  /* margin: auto; */
}
h1 {
  text-align: center;
  background-color: black;
}

.btnRow {
  display: flex;
  justify-content: center;
  /* margin-bottom: -2px; */
}
.btn1 {
  background-color: darkkhaki;
  width: 2.3em;
  height: 2.3em;
  margin: 1px;
  border: none;
  font-size: 2.5em;
  font-weight: bold;
}
.input1 {
  width: 24%;
  height: 2.3em;
  border: 1px solid white;
  border-radius: 0.4em;
  color: white;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 2%;
}
.btn2 {
  color: rgb(32, 31, 31);
  background-color: rgba(255, 255, 255, 0.849);
  width: 22.5%;
  height: 2.5em;
  border: none;
  border-radius: 0.4em;
  margin-top: 1%;
}

@media screen and (max-width: 500px) {
  .header {
    width: 100%;
    margin-top: -7%;
  }
  .input1 {
    width: 75%;
    margin: -15% 10% 2% 10%;
  }
  .btn2 {
    width: 65%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .header {
    width: 100%;
    padding: 0%;
  }
  .input1 {
    width: 40%;
    margin: -50% 10% 1.5% 10%;
  }
  .btn2 {
    width: 28%;
    margin: 1% 10% 1.5% 10%;
  }
}
@media screen and (max-width: 540px) {
  .input1 {
    width: 60%;
    margin: -50% 10% 1.5% 10%;
  }
  .btn2 {
    width: 50%;
    margin: 1% 10% 1.5% 10%;
  }
}
@media screen and (max-width: 280px) {
  .input1 {
    width: 75%;
    margin: -50% 10% 1.5% 10%;
  }
  .btn1 {
    width: 1.5em;
    height: 1.5em;
  }
  .btn2 {
    width: 70%;
  }
}
